/* Global settings to ensure layout stability and no horizontal overflow */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100%;
  box-sizing: border-box;
}

/* General box-sizing for all elements */
* {
  box-sizing: border-box;
}

/* Roulette layout, keeping its size fixed and centered */
.roulette-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw; /* Full width */
  /*   background-image: url('https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg'); */
  /* background-image: url('https://github.com/cost6885/roulette/blob/main/public/asset/cloud2.gif'); */
  /* background-image: url('../public//asset/cloud2.gif'); */
  background-color: rgb(233, 236, 239);
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  text-align: center;
  overflow: hidden; /* Prevent any overflow */
}

.headerContainer {
  text-align: center;
  /* font-size: 20px; */
  font-weight: bold;
  /* padding: 10px; */
  color: #333;
  width: 30%;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 4rem;
}

.container {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 50%;
  padding: 1rem;
  width: 80%;
  max-width: 50rem;
  min-width: 30rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
  rotate: -45deg;
}

.dots {
  position: absolute;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 1.4rem dotted white;
  transform: translate(-50%, -50%);
}

.roulette-border {
  position: relative;
  background-color: red;
  padding: 3rem;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  rotate: -45deg;
}

.QR-container {
  width: 100%;
  /* height: 100%; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.QR-border {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 100;
  transform: ranslate(-50%, -50%);
  /* background-color: #333; */
}

.top-left {
  position: absolute;
  /* background-color: pink; */
  width: 10%;
  height: 10%;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
}

.bottom-left {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom: 3px solid #2196f3;
  border-left: 3px solid #2196f3;
}

.top-right {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-top: 3px solid #2196f3;
  border-right: 3px solid #2196f3;
}

.bottom-right {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 5px;
  border-bottom: 3px solid #2196f3;
  border-right: 3px solid #2196f3;
}

/* Ensuring the roulette element doesn't grow beyond a specific size */
.bhdLno {
  max-width: 670px !important;
  max-height: 670px !important;
}

@media (max-width: 800px) {
  .roulette-layout {
    flex-direction: column;
    align-items: center;
  }
}

/* Menu layout styles */
.menu-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .menu-layout {
    width: 100%;
  }
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
}

/* Controls layout */
#controls {
  background-color: rgba(255, 255, 255, 0.9);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

input[type='checkbox'] {
  width: 40px;
  height: 40px;
}

/* Jackpot display */
#jackpot {
  color: #d5ad6d;
  font-size: 40px;
  text-align: center;
}
