html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100%;
  box-sizing: border-box;
}

/* General box-sizing for all elements */
* {
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0080f1;
}

.contents {
  width: 100%;
  padding: 16px 24px 0;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.rouletteOuter {
  position: relative;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: #eaf2fa;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.roulette {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  border: 4px solid #b1c8de;
  transform-origin: center;
  transition: transform 4s ease-in-out;
}

.item {
  position: absolute;
  width: 100%;
  height: 50%;
  transform-origin: center bottom;
  text-align: center;
}

.brandName {
  font-size: 10px;
  color: #6b778c;
}

.prizeName {
  font-size: 12px;
  color: #1a1a1a;
}

.line {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 50%;
  width: 4px;
  margin-left: -2px;
  background: #b1c8de;
  transform-origin: bottom;
}

.roulettePin {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.rouletteOuterBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92;
  height: 92;
  border-radius: 50%;
  background-color: #ffdb00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rouletteBtn {
  width: 100;
  height: 100;
  border-radius: 50%;
  background-color: #0080f1;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rouletteBtn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.on {
  animation: spin 4s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1440deg);
  }
}
